[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "LongMemoryTS"]
	path = LongMemoryTS
	url = https://github.com/funwithr/longmemoryts
[submodule "MonteCarlo"]
	path = MonteCarlo
	url = https://github.com/funwithr/montecarlo
